In [2]:
import pandas as pd
import datetime
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import calendar

In [3]:
path_to_file = 'olist_customers_dataset.csv'

In [4]:
customers = pd.read_csv(path_to_file)

In [5]:
customers

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [6]:
path_to_file_2 = 'olist_order_items_dataset.csv'

In [7]:
order_items = pd.read_csv(path_to_file_2)

In [8]:
order_items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

In [9]:
path_to_file_3 = 'olist_orders_dataset.csv'

In [10]:
orders = pd.read_csv(path_to_file_3)

In [11]:
orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

In [12]:
customers.dtypes

customer_id                 object
customer_unique_id          object
customer_zip_code_prefix     int64
customer_city               object
customer_state              object
dtype: object

In [13]:
order_items.dtypes

order_id                object
order_item_id            int64
product_id              object
seller_id               object
shipping_limit_date     object
price                  float64
freight_value          float64
dtype: object

In [14]:
orders.dtypes

order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

In [15]:
customer_items=customers.merge(orders, how='inner',  on ='customer_id')

In [16]:
df=customer_items.merge(order_items, how='inner', on ='order_id')

In [17]:
df

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,2018-01-29 12:41:19,2018-02-06 00:00:00,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-01-18 20:58:32,289.00,46.48
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,2018-06-14 17:58:51,2018-06-13 00:00:00,1,bd07b66896d6f1494f5b86251848ced7,7c67e1448b00f6e969d365cea6b010ab,2018-06-05 16:19:10,139.94,17.79
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,2018-03-28 16:04:25,2018-04-10 00:00:00,1,a5647c44af977b148e0a3a4751a09e2e,7c67e1448b00f6e969d365cea6b010ab,2018-03-27 16:31:16,149.94,23.36
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,2018-08-09 20:55:48,2018-08-15 00:00:00,1,9391a573abe00141c56e38d84d7d5b3b,4a3ca9315b744ce9f8e9374361493884,2018-07-31 10:10:09,230.00,22.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP,6760e20addcf0121e9d58f2f1ff14298,delivered,2018-04-07 15:48:17,2018-04-07 16:08:45,2018-04-11 02:08:36,2018-04-13 20:06:37,2018-04-25 00:00:00,1,ccb4503d9d43d245d3b295d0544f988b,527801b552d0077ffd170872eb49683b,2018-04-12 16:08:45,74.90,13.88
112646,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP,9ec0c8947d973db4f4e8dcf1fbfa8f1b,delivered,2018-04-04 08:20:22,2018-04-04 08:35:12,2018-04-05 18:42:35,2018-04-11 18:54:45,2018-04-20 00:00:00,1,9ede6b0570a75a4b9de4f383329f99ee,3fd1e727ba94cfe122d165e176ce7967,2018-04-10 08:35:12,114.90,14.16
112647,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE,fed4434add09a6f332ea398efd656a5c,delivered,2018-04-08 20:11:50,2018-04-08 20:30:03,2018-04-09 17:52:17,2018-05-09 19:03:15,2018-05-02 00:00:00,1,7a5d2e1e131a860ae7d18f6fffa9d689,d9e7e7778b32987280a6f2cb9a39c57d,2018-04-12 20:30:03,37.00,19.04
112648,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS,e31ec91cea1ecf97797787471f98a8c2,delivered,2017-11-03 21:08:33,2017-11-03 21:31:20,2017-11-06 18:24:41,2017-11-16 19:58:39,2017-12-05 00:00:00,1,f819f0c84a64f02d3a5606ca95edd272,4869f7a5dfa277a7dca6462dcf3b52b2,2017-11-09 21:15:51,689.00,22.07
112649,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08 00:00:00,1,017692475c1c954ff597feda05131d73,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78

In [18]:
#задание 1
complete_orders=df.query('order_status == "delivered"')\
                  .groupby(['customer_unique_id'], as_index=False)\
                  .aggregate({'order_id' : 'count'})\
                  .sort_values('order_id')
#будем считать, что покупкой является заказ со статусом доставлен
#считаем, сколько у каждого уникального покупателя покупок

In [19]:
complete_orders

                     customer_unique_id  order_id
0      0000366f3b9a7992bf8c76cfdf3221e2         1
60157  a4d20ae27169304c8addde9bda407fec         1
60156  a4d0930cca1e47704dc6a35dc942efcb         1
60155  a4d015be0feb92a1a6f955aa522cd956         1
60154  a4cf1b712d67ebba4ec2f4136458ed2d         1
...                                 ...       ...
5622   0f5ac8d5c31de21d2f25e24be15bbffb        18
38579  698e1cf81d01a3d389d96145f7fa6df8        20
71566  c402f431464c72e27330a67f7b94d4fb        20
25309  4546caea018ad8c692964e3382debd19        21
73127  c8460e4251689ba205045f3ea17884a1        24

[93358 rows x 2 columns]

In [20]:
customers_with_one_order = complete_orders.query("order_id == 1")
#оставляем только тех, у кого кол-во покупок = 1

In [21]:
customers_with_one_order.customer_unique_id.count()
#считаем, сколько уникальных пользователей с одной покупкой

81748

In [22]:
#задание 2
df['month'] = df['order_purchase_timestamp'].astype("datetime64[ns]").dt.month
#выводим в отдельный столбец номер месяца, чтобы посмотреть данные в разрезе месяца

In [23]:
not_delivered_orders_by_month = df.query("order_status in('unavailable', 'canceled')") \
                                  .groupby(['order_status', 'month'], as_index=False) \
                                  .aggregate({'order_id' : 'count'}) \
                                  .sort_values('month')
#смотрим, сколько было недоставленных заказов (статусы 'unavailable', 'canceled') в разрезе месяца и в разрезе причин

In [24]:
not_delivered_orders_by_month

   order_status  month  order_id
0      canceled      1        37
1      canceled      2        90
2      canceled      3        47
3      canceled      4        42
4      canceled      5        57
5      canceled      6        30
6      canceled      7        79
7      canceled      8        60
8      canceled      9        17
9      canceled     10        36
12  unavailable     10         7
10     canceled     11        39
11     canceled     12         8

In [25]:
not_delivered_orders_by_month.describe() 
#смотрим, cколько в среднем не доставляется заказов

           month   order_id
count  13.000000  13.000000
mean    6.769231  42.230769
std     3.585941  24.943783
min     1.000000   7.000000
25%     4.000000  30.000000
50%     7.000000  39.000000
75%    10.000000  57.000000
max    12.000000  90.000000

In [26]:
#задание 3
df['Day'] = df['order_purchase_timestamp'].astype("datetime64[ns]").apply(
    lambda x: x.strftime('%a'))
#выводим в отдельный столбец день недели, чтобы посмотреть данные в разрезе дня недели

In [27]:
items_by_day=df.query('order_status == "delivered"') \
               .groupby(['Day', 'order_item_id'], as_index=False) \
               .aggregate({'order_id' : 'count'}) \
               .sort_values('Day')
#считаем, что если заказ доставлен, то была осуществлена покупка
#смотрим, сколько было покупок в разрере дня и товаров

In [28]:
items_by_day_max = items_by_day.loc[items_by_day.groupby('order_item_id')['order_id'].idxmax()]
#по каждому товару определили, в какой день недели товар чаще всего покупается

In [29]:
items_by_day_max

     Day  order_item_id  order_id
12   Mon              1     15701
80   Tue              2      1610
81   Tue              3       399
82   Tue              4       170
83   Tue              5        87
84   Tue              6        58
85   Tue              7        12
66   Thu              8         8
67   Thu              9         7
68   Thu             10         7
69   Thu             11         5
70   Thu             12         4
71   Thu             13         3
104  Wed             14         3
73   Thu             15         2
53   Sun             16         1
54   Sun             17         1
55   Sun             18         1
56   Sun             19         1
57   Sun             20         1
58   Sun             21         1

In [30]:
#задание 4
df['year'] = df['order_purchase_timestamp'].astype("datetime64[ns]").dt.strftime('%Y')
#выводим в отдельный столбец год, чтобы смотреть данные по годам

In [31]:
def weeks_in_month(year, month):
    _, days_in_month = calendar.monthrange(year, month)
    weeks = days_in_month // 7
    remainder_days = days_in_month % 7
    return weeks + remainder_days / 7
#посчитали, сколько недель в каждом месяце

In [32]:
df['year'] = df['year'].astype(int)
df['month'] = df['month'].astype(int)
df['weeks_in_month'] = df.apply(lambda row: weeks_in_month(row['year'], row['month']), axis=1)

In [33]:
orders_per_month_week = df.query('order_status == "delivered"') \
                          .groupby(['customer_unique_id', 'weeks_in_month', 'year', 'month'], as_index=False) \
                          .agg({'order_id' : 'count'})
#смотрим, сколько покупок совершено по каждому месяцу рассматриваемого периода

In [34]:
orders_per_month_week

                     customer_unique_id  weeks_in_month  year  month  order_id
0      0000366f3b9a7992bf8c76cfdf3221e2        4.428571  2018      5         1
1      0000b849f77a49e4a4ce2b2a4ca5be3f        4.428571  2018      5         1
2      0000f46a3911fa3c0805444483337064        4.428571  2017      3         1
3      0000f6ccb0745a6a4b88665a16c9f078        4.428571  2017     10         1
4      0004aac84e0df4da2b147fca70cf8255        4.285714  2017     11         1
...                                 ...             ...   ...    ...       ...
95189  fffcf5a5ff07b0908bd4e2dbc735a684        4.285714  2017      6         2
95190  fffea47cd6d3cc0a88bd621562a9d061        4.428571  2017     12         1
95191  ffff371b4d645b6ecea244b27531430a        4.000000  2017      2         1
95192  ffff5962728ec6157033ef9805bacc48        4.428571  2018      5         1
95193  ffffd2657e2aad2907e67c3e9daecbeb        4.428571  2017      5         1

[95194 rows x 5 columns]

In [35]:
orders_per_month_week['orders_per_week'] = orders_per_month_week['order_id']/orders_per_month_week['weeks_in_month']

In [36]:
orders_per_month_week.sort_values('orders_per_week') 
#сколько у каждого из пользователей в среднем покупок в неделю (по месяцам)

,customer_unique_id,weeks_in_month,year,month,order_id,orders_per_week
0,0000366f3b9a7992bf8c76cfdf3221e2,4.428571,2018,5,1,0.225806
53960,915bf8d9d40bc1e5bb2aa48e006825c2,4.428571,2017,12,1,0.225806
53961,915c0f70278a02ac026344f1ea994ec3,4.428571,2018,8,1,0.225806
53962,915c189885ec37ced28ab1410c1cde20,4.428571,2018,1,1,0.225806
53964,915d3291101b4029ab6220cbb993fb5b,4.428571,2018,3,1,0.225806
...,...,...,...,...,...,...
5733,0f5ac8d5c31de21d2f25e24be15bbffb,4.285714,2017,11,18,4.200000
39322,698e1cf81d01a3d389d96145f7fa6df8,4.428571,2017,8,20,4.516129
25796,4546caea018ad8c692964e3382debd19,4.428571,2017,7,21,4.741935
72975,c402f431464c72e27330a67f7b94d4fb,4.000000,2018,2,20,5.000000
74559,c8460e4251689ba205045f3ea17884a1,4.428571,2018,8,24,5.419355

In [43]:
#задание 5
df

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,...,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,month,Day,year,weeks_in_month
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,5,Tue,2017,4.428571
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,...,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-01-18 20:58:32,289.00,46.48,1,Fri,2018,4.428571
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,...,1,bd07b66896d6f1494f5b86251848ced7,7c67e1448b00f6e969d365cea6b010ab,2018-06-05 16:19:10,139.94,17.79,5,Sat,2018,4.428571
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,...,1,a5647c44af977b148e0a3a4751a09e2e,7c67e1448b00f6e969d365cea6b010ab,2018-03-27 16:31:16,149.94,23.36,3,Tue,2018,4.428571
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,...,1,9391a573abe00141c56e38d84d7d5b3b,4a3ca9315b744ce9f8e9374361493884,2018-07-31 10:10:09,230.00,22.25,7,Sun,2018,4.428571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP,6760e20addcf0121e9d58f2f1ff14298,delivered,2018-04-07 15:48:17,2018-04-07 16:08:45,2018-04-11 02:08:36,...,1,ccb4503d9d43d245d3b295d0544f988b,527801b552d0077ffd170872eb49683b,2018-04-12 16:08:45,74.90,13.88,4,Sat,2018,4.285714
112646,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP,9ec0c8947d973db4f4e8dcf1fbfa8f1b,delivered,2018-04-04 08:20:22,2018-04-04 08:35:12,2018-04-05 18:42:35,...,1,9ede6b0570a75a4b9de4f383329f99ee,3fd1e727ba94cfe122d165e176ce7967,2018-04-10 08:35:12,114.90,14.16,4,Wed,2018,4.285714
112647,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE,fed4434add09a6f332ea398efd656a5c,delivered,2018-04-08 20:11:50,2018-04-08 20:30:03,2018-04-09 17:52:17,...,1,7a5d2e1e131a860ae7d18f6fffa9d689,d9e7e7778b32987280a6f2cb9a39c57d,2018-04-12 20:30:03,37.00,19.04,4,Sun,2018,4.285714
112648,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS,e31ec91cea1ecf97797787471f98a8c2,delivered,2017-11-03 21:08:33,2017-11-03 21:31:20,2017-11-06 18:24:41,...,1,f819f0c84a64f02d3a5606ca95edd272,4869f7a5dfa277a7dca6462dcf3b52b2,2017-11-09 21:15:51,689.00,22.07,11,Fri,2017,4.285714
112649,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,...,1,017692475c1c954ff597feda05131d73,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,12,Tue,2017,4.428571

In [74]:
df['order_purchase_date'] = df['order_purchase_timestamp'].astype("datetime64[ns]").dt.strftime('%Y-%m-%d')
#из order_purchase_timestamp вытаскивает дату совершения покупки

In [75]:
first_orders = df.groupby(['customer_unique_id'], as_index=False).agg({'order_purchase_date': 'min'})
#находим дату совершения первой покупки

In [76]:
first_orders

                     customer_unique_id order_purchase_date
0      0000366f3b9a7992bf8c76cfdf3221e2          2018-05-10
1      0000b849f77a49e4a4ce2b2a4ca5be3f          2018-05-07
2      0000f46a3911fa3c0805444483337064          2017-03-10
3      0000f6ccb0745a6a4b88665a16c9f078          2017-10-12
4      0004aac84e0df4da2b147fca70cf8255          2017-11-14
...                                 ...                 ...
95415  fffcf5a5ff07b0908bd4e2dbc735a684          2017-06-08
95416  fffea47cd6d3cc0a88bd621562a9d061          2017-12-10
95417  ffff371b4d645b6ecea244b27531430a          2017-02-07
95418  ffff5962728ec6157033ef9805bacc48          2018-05-02
95419  ffffd2657e2aad2907e67c3e9daecbeb          2017-05-02

[95420 rows x 2 columns]

In [77]:
first_orders.rename(columns= {'order_purchase_date' : 'first_order_purchase_date'}, inplace=True)

In [78]:
first_orders['customer_unique_id'] = first_orders['customer_unique_id'].astype(str)
df['customer_unique_id'] = df['customer_unique_id'].astype(str)

In [79]:
first_orders.reset_index(drop=True, inplace=True)
df_merged = df.merge(first_orders, how='inner', left_on='customer_unique_id', right_on='customer_unique_id')

In [80]:
df_merged
#объединяем исходную табоицу с данными о первой покупке

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,...,seller_id,shipping_limit_date,price,freight_value,month,Day,year,weeks_in_month,order_purchase_date,first_order_purchase_date
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,5,Tue,2017,4.428571,2017-05-16,2017-05-16
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,...,b8bc237ba3788b23da09c0f1f3a3288c,2018-01-18 20:58:32,289.00,46.48,1,Fri,2018,4.428571,2018-01-12,2018-01-12
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,...,7c67e1448b00f6e969d365cea6b010ab,2018-06-05 16:19:10,139.94,17.79,5,Sat,2018,4.428571,2018-05-19,2018-05-19
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,...,7c67e1448b00f6e969d365cea6b010ab,2018-03-27 16:31:16,149.94,23.36,3,Tue,2018,4.428571,2018-03-13,2018-03-13
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,...,4a3ca9315b744ce9f8e9374361493884,2018-07-31 10:10:09,230.00,22.25,7,Sun,2018,4.428571,2018-07-29,2018-07-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP,6760e20addcf0121e9d58f2f1ff14298,delivered,2018-04-07 15:48:17,2018-04-07 16:08:45,2018-04-11 02:08:36,...,527801b552d0077ffd170872eb49683b,2018-04-12 16:08:45,74.90,13.88,4,Sat,2018,4.285714,2018-04-07,2018-04-07
112646,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP,9ec0c8947d973db4f4e8dcf1fbfa8f1b,delivered,2018-04-04 08:20:22,2018-04-04 08:35:12,2018-04-05 18:42:35,...,3fd1e727ba94cfe122d165e176ce7967,2018-04-10 08:35:12,114.90,14.16,4,Wed,2018,4.285714,2018-04-04,2018-04-04
112647,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE,fed4434add09a6f332ea398efd656a5c,delivered,2018-04-08 20:11:50,2018-04-08 20:30:03,2018-04-09 17:52:17,...,d9e7e7778b32987280a6f2cb9a39c57d,2018-04-12 20:30:03,37.00,19.04,4,Sun,2018,4.285714,2018-04-08,2018-04-08
112648,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS,e31ec91cea1ecf97797787471f98a8c2,delivered,2017-11-03 21:08:33,2017-11-03 21:31:20,2017-11-06 18:24:41,...,4869f7a5dfa277a7dca6462dcf3b52b2,2017-11-09 21:15:51,689.00,22.07,11,Fri,2017,4.285714,2017-11-03,2017-11-03
112649,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,...,3c7c4a49ec3c6550809089c6a2ca9370,2017-12-26 18:50:39,13.99,7.78,12,Tue,2017,4.428571,2017-12-19,2017-12-19

In [81]:
df_merged['first_order_purchase_date'] = df_merged['first_order_purchase_date'].astype("datetime64[ns]")
df_merged['order_purchase_date'] = df_merged['order_purchase_date'].astype("datetime64[ns]")

In [82]:
df_merged.dtypes

customer_id                              object
customer_unique_id                       object
customer_zip_code_prefix                  int64
customer_city                            object
customer_state                           object
order_id                                 object
order_status                             object
order_purchase_timestamp                 object
order_approved_at                        object
order_delivered_carrier_date             object
order_delivered_customer_date            object
order_estimated_delivery_date            object
order_item_id                             int64
product_id                               object
seller_id                                object
shipping_limit_date                      object
price                                   float64
freight_value                           float64
month                                     int64
Day                                      object
year                                      int64
weeks_in_month                          float64
order_purchase_date              datetime64[ns]
first_order_purchase_date        datetime64[ns]
dtype: object

In [84]:
df_merged['months_diff'] = (df_merged['order_purchase_date'] - df_merged['first_order_purchase_date']) / np.timedelta64 ( 1 , 'M')
#находим разницу в месяцах между датой первой покупки и датой следующей покупки
#months_diff принимаем за номер месяца когорты (то есть, если months_diff = 2, это значит, что пользователь совершил покупку на второй месяц после первой покупки)

In [85]:
df_merged.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,...,shipping_limit_date,price,freight_value,month,Day,year,weeks_in_month,order_purchase_date,first_order_purchase_date,months_diff
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,2017-05-22 15:22:12,124.99,21.88,5,Tue,2017,4.428571,2017-05-16,2017-05-16,0.0
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,...,2018-01-18 20:58:32,289.00,46.48,1,Fri,2018,4.428571,2018-01-12,2018-01-12,0.0
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,...,2018-06-05 16:19:10,139.94,17.79,5,Sat,2018,4.428571,2018-05-19,2018-05-19,0.0
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,...,2018-03-27 16:31:16,149.94,23.36,3,Tue,2018,4.428571,2018-03-13,2018-03-13,0.0
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,...,2018-07-31 10:10:09,230.00,22.25,7,Sun,2018,4.428571,2018-07-29,2018-07-29,0.0

In [89]:
df_merged['months_diff'] = df_merged['months_diff'].round()

In [105]:
df_merged['order_purchase_date'] = df_merged['order_purchase_date'].astype("datetime64[ns]").dt.strftime('%Y-%m')
df_merged['first_order_purchase_date'] = df_merged['first_order_purchase_date'].astype("datetime64[ns]").dt.strftime('%Y-%m')

In [106]:
df_merged.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,...,shipping_limit_date,price,freight_value,month,Day,year,weeks_in_month,order_purchase_date,first_order_purchase_date,months_diff
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,2017-05-22 15:22:12,124.99,21.88,5,Tue,2017,4.428571,2017-05,2017-05,0
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,...,2018-01-18 20:58:32,289.00,46.48,1,Fri,2018,4.428571,2018-01,2018-01,0
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,...,2018-06-05 16:19:10,139.94,17.79,5,Sat,2018,4.428571,2018-05,2018-05,0
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,...,2018-03-27 16:31:16,149.94,23.36,3,Tue,2018,4.428571,2018-03,2018-03,0
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,...,2018-07-31 10:10:09,230.00,22.25,7,Sun,2018,4.428571,2018-07,2018-07,0

In [107]:
df_merged['months_diff'] = df_merged['months_diff'].astype(int)

In [108]:
cohorts_by_month = df_merged.groupby(['first_order_purchase_date'], as_index=False).agg({'customer_unique_id' : 'count'})

In [109]:
cohorts_by_month
#смотрим когорты по месяцу первой покупки

   first_order_purchase_date  customer_unique_id
0                    2016-09                   6
1                    2016-10                 375
2                    2016-12                   2
3                    2017-01                 994
4                    2017-02                2011
5                    2017-03                3118
6                    2017-04                2765
7                    2017-05                4314
8                    2017-06                3691
9                    2017-07                4610
10                   2017-08                5020
11                   2017-09                4917
12                   2017-10                5357
13                   2017-11                8691
14                   2017-12                6271
15                   2018-01                8217
16                   2018-02                7665
17                   2018-03                8121
18                   2018-04                7861
19                   2018-05                7783
20                   2018-06                6887
21                   2018-07                6928
22                   2018-08                7046

In [110]:
cohort_data = df_merged.groupby(['first_order_purchase_date', 'months_diff'], as_index=False).agg({'customer_unique_id' : 'count'})
#формируем df для построения когортной таблицы с данными о первом месяце покупки и номером когортного месяца (months_diff)

In [111]:
cohort_data

    first_order_purchase_date  months_diff  customer_unique_id
0                     2016-09            0                   6
1                     2016-10            0                 363
2                     2016-10            6                   1
3                     2016-10           10                   1
4                     2016-10           12                   1
..                        ...          ...                 ...
219                   2018-07            0                6897
220                   2018-07            1                  29
221                   2018-07            2                   2
222                   2018-08            0                7044
223                   2018-08            1                   2

[224 rows x 3 columns]

In [118]:
cohort_data['customer_unique_id'] = cohort_data['customer_unique_id'].astype(int)

In [119]:
cohort_table = cohort_data.pivot(index='first_order_purchase_date', columns='months_diff', values='customer_unique_id')

In [120]:
cohort_table

months_diff,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
first_order_purchase_date,,,,,,,,,,,,,,,,,,,,,
2016-09,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-10,363.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,1.0,3.0,NaN,1.0,NaN,1.0,NaN,2.0,1.0,1.0
2016-12,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01,956.0,1.0,2.0,2.0,3.0,NaN,5.0,2.0,1.0,NaN,...,4.0,1.0,2.0,2.0,1.0,3.0,NaN,1.0,NaN,NaN
2017-02,1948.0,5.0,4.0,2.0,9.0,2.0,6.0,2.0,2.0,6.0,...,1.0,3.0,2.0,1.0,2.0,7.0,1.0,NaN,NaN,NaN
2017-03,2995.0,19.0,8.0,13.0,9.0,4.0,8.0,7.0,5.0,9.0,...,5.0,5.0,5.0,5.0,2.0,5.0,NaN,NaN,NaN,NaN
2017-04,2657.0,19.0,4.0,5.0,7.0,11.0,15.0,5.0,12.0,6.0,...,1.0,2.0,2.0,2.0,5.0,NaN,NaN,NaN,NaN,NaN
2017-05,4104.0,23.0,28.0,15.0,13.0,17.0,13.0,7.0,14.0,16.0,...,8.0,4.0,8.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN
2017-06,3533.0,19.0,20.0,14.0,13.0,9.0,15.0,13.0,4.0,11.0,...,3.0,8.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-07,4453.0,18.0,18.0,12.0,12.0,12.0,11.0,6.0,11.0,16.0,...,5.0,10.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-08,4828.0,33.0,28.0,14.0,16.0,20.0,18.0,11.0,21.0,8.0,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09,4738.0,33.0,28.0,20.0,23.0,20.0,7.0,11.0,13.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-10,5199.0,38.0,13.0,10.0,15.0,8.0,14.0,22.0,14.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11,8521.0,46.0,28.0,20.0,12.0,19.0,10.0,19.0,8.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-12,6162.0,11.0,23.0,23.0,14.0,13.0,9.0,3.0,13.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01,8052.0,34.0,36.0,36.0,13.0,15.0,15.0,15.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-02,7515.0,26.0,46.0,21.0,28.0,17.0,12.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-03,8023.0,37.0,23.0,19.0,11.0,6.0,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-04,7762.0,39.0,33.0,16.0,11.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-05,7691.0,43.0,32.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-06,6844.0,18.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-07,6897.0,29.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-08,7044.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [127]:
retention_rate = cohort_table.divide(cohort_table[0], axis=0)

In [128]:
retention_rate

months_diff,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
first_order_purchase_date,,,,,,,,,,,,,,,,,,,,,
2016-09,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-10,1.0,NaN,NaN,NaN,NaN,NaN,0.002755,NaN,NaN,NaN,...,0.002755,0.008264,NaN,0.002755,NaN,0.002755,NaN,0.005510,0.002755,0.002755
2016-12,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01,1.0,0.001046,0.002092,0.002092,0.003138,NaN,0.005230,0.002092,0.001046,NaN,...,0.004184,0.001046,0.002092,0.002092,0.001046,0.003138,NaN,0.001046,NaN,NaN
2017-02,1.0,0.002567,0.002053,0.001027,0.004620,0.001027,0.003080,0.001027,0.001027,0.003080,...,0.000513,0.001540,0.001027,0.000513,0.001027,0.003593,0.000513,NaN,NaN,NaN
2017-03,1.0,0.006344,0.002671,0.004341,0.003005,0.001336,0.002671,0.002337,0.001669,0.003005,...,0.001669,0.001669,0.001669,0.001669,0.000668,0.001669,NaN,NaN,NaN,NaN
2017-04,1.0,0.007151,0.001505,0.001882,0.002635,0.004140,0.005645,0.001882,0.004516,0.002258,...,0.000376,0.000753,0.000753,0.000753,0.001882,NaN,NaN,NaN,NaN,NaN
2017-05,1.0,0.005604,0.006823,0.003655,0.003168,0.004142,0.003168,0.001706,0.003411,0.003899,...,0.001949,0.000975,0.001949,0.004386,NaN,NaN,NaN,NaN,NaN,NaN
2017-06,1.0,0.005378,0.005661,0.003963,0.003680,0.002547,0.004246,0.003680,0.001132,0.003114,...,0.000849,0.002264,0.001415,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-07,1.0,0.004042,0.004042,0.002695,0.002695,0.002695,0.002470,0.001347,0.002470,0.003593,...,0.001123,0.002246,0.000225,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-08,1.0,0.006835,0.005800,0.002900,0.003314,0.004143,0.003728,0.002278,0.004350,0.001657,...,0.001036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09,1.0,0.006965,0.005910,0.004221,0.004854,0.004221,0.001477,0.002322,0.002744,0.002533,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-10,1.0,0.007309,0.002500,0.001923,0.002885,0.001539,0.002693,0.004232,0.002693,0.003847,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11,1.0,0.005398,0.003286,0.002347,0.001408,0.002230,0.001174,0.002230,0.000939,0.000939,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-12,1.0,0.001785,0.003733,0.003733,0.002272,0.002110,0.001461,0.000487,0.002110,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01,1.0,0.004223,0.004471,0.004471,0.001615,0.001863,0.001863,0.001863,0.000124,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-02,1.0,0.003460,0.006121,0.002794,0.003726,0.002262,0.001597,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-03,1.0,0.004612,0.002867,0.002368,0.001371,0.000748,0.000249,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-04,1.0,0.005024,0.004251,0.002061,0.001417,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-05,1.0,0.005591,0.004161,0.002210,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-06,1.0,0.002630,0.003653,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-07,1.0,0.004205,0.000290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-08,1.0,0.000284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [129]:
ur_style = (retention_rate
            .style
            .set_caption('User retention by cohort')  # добавляем подпись
            .background_gradient(cmap='viridis')  # раскрашиваем ячейки по столбцам
            .highlight_null('white')  # делаем белый фон для значений NaN
            .format("{:.2%}", na_rep=""))  # числа форматируем как проценты, NaN заменяем на пустоту
ur_style

In [ ]:
# у когорты, которая совершила первую покупку 2018-01, самый высокий ретеншн на 3-ий месяц